*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("https://img.freepik.com/free-vector/technology-background-design_23-2148451528.jpg?size=626&ext=jpg&ga=GA1.1.398503788.1697787129&semt=ais");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    width: 380px;
    text-align: center;
    padding: 10px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid #fff;
    border-radius: 10px;
}
.container .heading{
    color: #fff;
    font-size: 36px;
    padding: 10px 0px;
}
.container .username input{
    width: 100%;
    padding: 10px 30px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    height: 45px;
    font-size: 23px;
}
.container .username{
    padding: 10px 10px;
    display: flex; 
}
::placeholder{
    color: black;
    font-size: 17px;
}
.username .lock{
    background-color: #fff;
    position: absolute;
    right:40px;
    padding: 10px;
    font-size: 20px;
}
.check{
    padding: 10px;
    color: #fff;
    font-size: 17px;
    display: flex;
    justify-content: space-around;
}
.check a{
    color: #fff;
    text-decoration: none;   
}
.box {
    width: 30px;
}
a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(17, 99, 250);
    border: 0;
    outline: 0;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
}
.button{
    padding: 10px 20px;
}
.account{
    color: #fff;
    padding: 10px;
    font-size: 19px;
}
.account a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}